.view {
  overflow-y: hidden; }

.view:hover {
  overflow-y: auto;
  overflow-y: overlay; }

.messagesBody {
  vertical-align: top; }

.payloadColumn pre > code {
  overflow-x: auto; }

.codeBlock pre > code {
  overflow: auto;
  height: 200px;
  width: 95%; }



// WEBPACK FOOTER //
// src/client/routes/requests/details/debug/DebugView.scss