.icon {
  width: 1rem;
  margin-right: 0.25rem;
  margin-top: 0.25rem; }

.isIconPathWarning {
  fill: #f8a800;
  fill: var(--warningColor); }

.isIconPathError {
  fill: #b03b00;
  fill: var(--errorColor); }

.isIconPathInfo {
  fill: #3399ff;
  fill: var(--activeForegroundColor); }



// WEBPACK FOOTER //
// src/client/routes/requests/details/logging/views/LoggingLevelIcon.scss