.statement {
  opacity: 1; }

:global(.token) {
  border: 1px dotted transparent;
  border-color: #808080;
  border-color: var(--tokenBorderColor);
  padding: 0 0.125rem; }

:global(.token.tokenString) {
  color: #cd917a;
  color: var(--tokenStringColor); }

:global(.token.tokenInteger) {
  color: #b6cda9;
  color: var(--tokenIntegerColor); }

:global(.emojione) {
  width: 1rem;
  height: 1rem;
  margin-bottom: -2px; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/logging/views/LoggingStatement.scss
*/