.logView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.logViewExpandCollapseAll {
  border-left-color: #46464A;
  border-left-color: var(--ruleColor);
  border-left-style: solid;
  border-left-width: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-bottom: 1.125rem;
  margin-top: 0.125rem; }

.logViewTable {
  composes: table from "common/components/Common.scss";
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.logViewTable > thead > tr > th {
  border-left-color: transparent;
  padding: 0 0.75rem; }

.logViewTableContainer {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  position: relative;
  overflow-y: auto; }

.logNoMessages {
  color: #999999;
  color: var(--secondaryForegroundColor);
  padding-left: 0.875rem; }

.logIconColumn {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.logTableStyle {
  overflow: hidden; }

.logLevelIcon {
  width: 1rem;
  margin-right: 0.25rem; }

.logAgentIcon {
  margin-right: 0.219rem;
  margin-top: 0.125rem; }

.logDurationColumn {
  text-align: right; }

.logContent {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  /* Default to 'break-all' as Firefox doesn't support 'break-word'. */
  word-break: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.logContent a {
  color: #3399ff;
  color: var(--linkColor);
  text-decoration: none; }

.logContent a:hover {
  text-decoration: underline; }

.logContent a:active {
  color: #007acc;
  color: var(--linkActiveColor); }

.logContent a:focus {
  outline: none; }

/*
Table messages have a table header with some padding in them to make sure that
the line separating header entries doesn't look squat and short, but this also
gives the impression that there is more padding for tables than for other types
of messages. This negative margin pulls it up and gives the aesthetic impression
that the padding is the same, even if technically speaking it isn't.
*/
.logContentTable {
  margin-top: -3px; }

.logTimeSpanIcon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 0.35rem;
  width: 1rem;
  margin-top: 0.25rem; }

.logTimeSpanIconPath {
  fill: #999999;
  fill: var(--secondaryForegroundColor); }

.logGroup {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  margin-right: 0.5rem; }

.logGroup.logGroupLine:before {
  position: absolute;
  border-left: 1px solid;
  border-left-color: #f7f7f7;
  border-left-color: var(--primaryForegroundColor);
  top: -0.5rem;
  bottom: -0.6rem;
  content: ""; }

.logGroup.logGroupLine.logGroupLineEnd:before {
  bottom: 0; }

.logGroup.logGroupLine.logGroupLineEnd:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 3px;
  background-image: linear-gradient(to right, #f1f1f1 3px, transparent 3px); }

.logMessageNoEvents {
  color: #999999;
  color: var(--secondaryForegroundColor);
  margin-top: 0.5rem; }

.categoryColumn {
  display: none; }
  .categoryColumn.isVisible {
    display: table-cell; }



// WEBPACK FOOTER //
// src/client/routes/requests/details/logging/views/Logging.scss