.agentBrowserIcon {
  fill: #EE89A2;
  fill: var(--agentBrowserColor); }

.agentServerIcon {
  fill: #86d7f4;
  fill: var(--agentServerColor); }

.levelWarningIcon {
  fill: #f8a800;
  fill: var(--warningColor); }

.levelErrorIcon {
  fill: #b03b00;
  fill: var(--errorColor); }

.levelInfoIcon {
  fill: #1ba1e2;
  fill: var(--statusCodeInformationalColor); }

.levelGroup {
  margin-right: 1.5rem; }
  .levelGroup + div {
    display: none; }

.levelGroup {
  margin-right: 1.5rem; }
  .levelGroup + div {
    display: none; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/logging/views/LoggingFilterBar.scss
*/