.logTimeSpanCell {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logTimeSpanFill {
  margin-left: 0.5rem; }

.logTimeSpanDuration {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #46464A;
  border-left-color: var(--tableHeaderBorderColor);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #46464A;
  border-right-color: var(--tableHeaderBorderColor);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 0.75rem;
  margin-right: -0.75rem; }

.logTimeSpanDuration > div {
  display: inline; }

.logDurationColumn {
  text-align: right; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/logging/views/LoggingTimeSpan.scss
*/