.agentTypeIcon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 1.0rem;
  height: 1.0rem; }

.agentTypeBrowserIconPath {
  fill: #EE89A2;
  fill: var(--agentBrowserColor); }

.agentTypeServerIconPath {
  fill: #86d7f4;
  fill: var(--agentServerColor); }



// WEBPACK FOOTER //
// src/client/common/components/AgentTypeIcon.scss