.clientLabelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.clientLabelIcon {
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 5px; }



// WEBPACK FOOTER //
// src/client/common/components/ClientLabel.scss