.detail {
  border-top-width: 0.25rem;
  border-top-style: solid;
  border-top-color: #0e6198;
  border-top-color: var(--accentColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.detailPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%; }
  .detailPanel:hover .detailPanelExpandButton {
    opacity: 1; }

.detailMargin {
  background-color: #46464A;
  background-color: var(--ruleColor);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 1px; }

.detailPanelTitle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d2d30;
  background-color: var(--detailBiPanelHeaderColor);
  color: #f7f7f7;
  color: var(--primaryForegroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-weight: bold;
  padding: 0.5rem 2rem 0.5rem 1.5rem; }

.detailPanelExpandButton {
  opacity: 0; }

.detail.isClickableTitles .detailPanelTitle:hover {
  cursor: pointer;
  opacity: .85; }

.detailPanelContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  overflow: hidden; }



// WEBPACK FOOTER //
// src/client/common/components/DetailBiPanel.scss