.dropdown {
  position: relative;
  border: 1px solid currentColor;
  text-align: left;
  padding: .5rem 0;
  color: #3F3F46;
  color: var(--sideBarActionHoverBackgroundColor);
  overflow: hidden; }
  .dropdown:hover {
    color: #007acc;
    color: var(--expansionBarActiveBackgroundColor);
    background: #2d2d30;
    background: var(--expansionBarBackgroundColor); }
    .dropdown:hover .arrow {
      background: #1b1b1c;
      background: var(--timelineOverviewUnselectedOverlayColor);
      border-color: currentColor; }
    .dropdown:hover .arrow::after {
      border-top-color: currentColor; }

.select {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: none;
  padding-left: 1rem;
  padding-right: 1rem; }
  .select:focus {
    outline: none; }

.header {
  padding: 0 2.5rem 0 .75rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -1px;
  letter-spacing: .05rem;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0;
  color: #f1f1f1;
  color: var(--activityBarActiveColor);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.headerPlaceHolder {
  padding: 0 2.5rem 0 .75rem;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -1px;
  letter-spacing: .05rem;
  opacity: 0; }

.arrow {
  position: absolute;
  right: -1px;
  top: 0;
  bottom: 0;
  width: 1.7rem;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .arrow::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border: .4rem solid transparent;
    border-top-color: #999999;
    border-top-color: var(--softTextColor);
    margin-top: -.175rem;
    margin-left: -.35rem; }


/*
// WEBPACK FOOTER //
// src/client/common/components/Dropdown.scss
*/