.filterBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.125rem;
  margin-top: 0.125rem; }
  .filterBar .dropdown {
    width: 9.9rem;
    padding: 0;
    height: 19px;
    display: block;
    padding-top: .35rem;
    margin-top: 1px;
    color: #3399FF;
    color: var(--filterButtonBorderColor); }

.filterGroupSeparator {
  border-right: 1px solid #46464A;
  border-right: 1px solid var(--ruleColor);
  height: 2rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  margin-bottom: 0.75rem; }

.filterShowAll, .filterShowAll:hover, .filterShowAll:active {
  background: transparent;
  border: none;
  color: #3399ff;
  color: var(--linkColor);
  margin-bottom: 0.75rem; }

.filterShowAll:hover {
  text-decoration: underline; }

.filterShowAll:active {
  color: #007acc;
  color: var(--linkActiveColor); }

.filterShowAll:focus {
  outline: none; }


/*
// WEBPACK FOOTER //
// src/client/common/components/FilterBar.scss
*/