.filterButton,
.filterButtonShown,
.filterButtonNotShown {
  background-color: transparent;
  margin-bottom: 0.75rem;
  color: #f7f7f7;
  color: var(--primaryForegroundColor);
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
  height: 2rem;
  line-height: 0;
  vertical-align: top; }

.filterButton {
  margin-right: 0.75rem; }
  .filterButton:last-child {
    margin-right: 0; }

.filterButtonShown {
  border: 1px solid transparent;
  border-color: #3399FF;
  border-color: var(--filterButtonBorderColor); }

.filterButtonShown:hover {
  border: 1px solid transparent;
  border-color: #137CC9;
  border-color: var(--filterButtonHoverBorderColor);
  background-color: #3F3F46;
  background-color: var(--filterButtonHoverBackgroundColor); }

.filterButtonNotShown {
  border: 1px solid transparent; }

.filterButtonNotShown:hover {
  background-color: #3F3F46;
  background-color: var(--filterButtonHoverBackgroundColor);
  border: 1px solid transparent; }

.filterButtonNotShown:active {
  background-color: #007acc;
  background-color: var(--filterButtonActiveBackgroundColor); }

.filterButtonContent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 1.25rem; }

.filterButtonIcon {
  margin-right: 0.219rem;
  width: 1rem;
  height: 1rem; }



// WEBPACK FOOTER //
// src/client/common/components/FilterButton.scss