.message {
  color: #999999;
  color: var(--secondaryForegroundColor);
  padding-bottom: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.messageIcon {
  color: #3399ff;
  color: var(--activeForegroundColor);
  height: 1.25rem;
  width: 1.25rem;
  margin-top: 0.1rem;
  margin-right: 0.25rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }



// WEBPACK FOOTER //
// src/client/common/components/InformationLabel.scss