.routeButton {
  text-decoration: none;
  color: inherit;
  display: inline-block; }
  .routeButton:focus {
    outline: 1px solid #0e6198;
    outline: 1px solid var(--accentColor);
    outline-offset: -1px; }



// WEBPACK FOOTER //
// src/client/common/components/RouteButton.scss