.sideBar {
  background-color: #252526;
  background-color: var(--sideBarBackgroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.title {
  padding: 0.75rem 1rem 0.75rem 1rem; }

.titleRequests {
  font-weight: bold;
  float: left;
  color: #f7f7f7;
  color: var(--headerForegroundColor); }

.rightButton {
  color: #3399ff;
  color: var(--linkColor);
  float: right;
  display: none; }

.rightButton:hover {
  text-decoration: underline;
  cursor: pointer; }



// WEBPACK FOOTER //
// src/client/common/components/SideBar.scss