.statusLabelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.statusLabelUnavailableDescription {
  color: #999999;
  color: var(--softTextColor); }

.statusLabelBlueIcon,
.statusLabelGreenIcon,
.statusLabelYellowIcon,
.statusLabelRedIcon {
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 2px;
  margin-top: 1px; }

.statusLabelBlueIcon {
  fill: #1ba1e2;
  fill: var(--statusCodeInformationalColor); }

.statusLabelGreenIcon {
  fill: #78b24c;
  fill: var(--statusCodeSuccessColor); }

.statusLabelYellowIcon {
  fill: #f8a800;
  fill: var(--statusCodeRedirectionColor); }

.statusLabelRedIcon {
  fill: #b03b00;
  fill: var(--statusCodeErrorColor); }


/*
// WEBPACK FOOTER //
// src/client/common/components/StatusLabel.scss
*/