.url {
  white-space: nowrap;
  letter-spacing: 0.25px; }

.urlProtocolHttps {
  height: 1rem;
  width: 1rem;
  vertical-align: baseline;
  margin-bottom: -2px;
  margin-left: -1px; }

.urlProtocolHttpsColor {
  color: #71B252;
  color: var(--httpsProtocolColor);
  fill: #71B252;
  fill: var(--httpsProtocolColor); }

.urlProtocolHttps {
  margin-right: 2px; }



// WEBPACK FOOTER //
// src/client/common/components/UrlText.scss