.activityBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 3.5rem; }

.activityBarButton {
  position: relative;
  background: transparent;
  border: none;
  color: #848484;
  color: var(--activityBarInactiveColor);
  margin: 0.5rem 0;
  padding: 0.25rem 0 0;
  text-align: center;
  cursor: pointer; }

.activityBarButton:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0.25rem;
  height: 100%;
  background: #0e6198;
  background: var(--accentColor);
  opacity: 0; }

.activityBarButton:hover {
  color: #f1f1f1;
  color: var(--activityBarHoverColor);
  opacity: .85; }

.activityBarButton:active:after {
  opacity: 1; }

.activityBarButtonActive {
  color: #f1f1f1;
  color: var(--activityBarActiveColor); }

.activityBarIcon {
  height: 2rem;
  width: 2rem;
  color: #f7f7f7;
  color: var(--headerForegroundColor); }



// WEBPACK FOOTER //
// src/client/shell/views/ShellActivityBarView.scss