.timelineSlownessIcon {
  width: 1.25rem;
  height: 1.25rem; }
  .timelineSlownessIcon.isIconSlow {
    fill: #facb00;
    fill: var(--slowEventColor); }
  .timelineSlownessIcon.isIconSlower {
    fill: #D68838;
    fill: var(--slowerEventColor); }
  .timelineSlownessIcon.isIconSlowest {
    fill: #D9150F;
    fill: var(--slowestEventColor); }



// WEBPACK FOOTER //
// src/client/routes/requests/details/timeline/views/TimelineSlownessIcon.scss