/*
 * Backgrounds
 */
.timelineCategoryLogsBackground {
  background: #77C47B;
  background: var(--categoryLogsColor); }

.timelineCategoryDataBackground {
  background: #d6a635;
  background: var(--categoryDataColor); }

.timelineCategoryRequestBackground {
  background: #3d98bf;
  background: var(--categoryRequestColor); }

.timelineCategoryWebServiceBackground {
  background: #8a3cd6;
  background: var(--categoryWebServiceColor); }

.timelineCategoryOtherBackground {
  background: #bf4b3e;
  background: var(--categoryOtherColor); }

/*
 * Borders
 */
.timelineCategoryLogsBorder {
  border-color: #77C47B;
  border-color: var(--categoryLogsColor); }

.timelineCategoryDataBorder {
  border-color: #d6a635;
  border-color: var(--categoryDataColor); }

.timelineCategoryRequestBorder {
  border-color: #3d98bf;
  border-color: var(--categoryRequestColor); }

.timelineCategoryWebServiceBorder {
  border-color: #8a3cd6;
  border-color: var(--categoryWebServiceColor); }

.timelineCategoryOtherBorder {
  border-color: #bf4b3e;
  border-color: var(--categoryOtherColor); }

/*
 * Colors
 */
.timelineCategoryLogsColor {
  fill: #77C47B;
  fill: var(--categoryLogsColor); }

.timelineCategoryDataColor {
  fill: #d6a635;
  fill: var(--categoryDataColor); }

.timelineCategoryRequestColor {
  fill: #3d98bf;
  fill: var(--categoryRequestColor); }

.timelineCategoryWebServiceColor {
  fill: #8a3cd6;
  fill: var(--categoryWebServiceColor); }

.timelineCategoryOtherColor {
  fill: #bf4b3e;
  fill: var(--categoryOtherColor); }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/timeline/views/TimelineCommon.scss
*/