.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.timelineScrollingPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden; }

.timelineOverview {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 1rem 16px 0 6px; }

.timelineDetails {
  margin: calc(0.25rem + 3px) 0px 0 6px; }

@media (max-height: 700px), (max-width: 1000px) {
  .timelineScrollingPanel {
    overflow-y: auto;
    overflow-y: overlay; }
  .timelineDetails {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; } }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/timeline/views/Timeline.scss
*/