.multipartSummaryTruncationIcon {
  height: 13px;
  width: 13px; }

.multipartSummaryTruncationIconPath {
  color: #f8a800;
  color: var(--warningColor); }

.multipartSummaryUndefinedContentType {
  color: #999999;
  color: var(--secondaryForegroundColor); }



// WEBPACK FOOTER //
// src/client/routes/requests/details/components/request-response-tab-strip/body/MultipartSummary.scss