.timelineTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }

.timelineTableEventsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative; }

.timelineTableHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.timelineTableHeaderTable {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.timelineTableTableContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.timelineTableScrollContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.timelineTableScrollGutter {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 16px; }

.timelineTableTable {
  composes: table from "../Common.scss"; }

.timelineTableTable > thead > tr > th {
  border-left-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0.75rem; }

.timelineTableEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3; }

.timelineTableActivityHeader {
  border-left: none !important;
  padding: 0 !important; }

.timelineTableActivityHeaderIntervals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.timelineTableIntervalCell {
  border-right: 1px solid #2b2b2b;
  border-right: 1px solid var(--timelineDetailsIntervalBorderColor);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  overflow: hidden;
  padding: 0.4rem 0.75rem;
  text-align: right !important; }
  .timelineTableIntervalCell:first-of-type {
    border-left: 1px solid #46464A;
    border-left: 1px solid var(--tableHeaderBorderColor); }
  .timelineTableIntervalCell:last-of-type {
    border-right: 0 solid #2b2b2b;
    border-right: 0 solid var(--timelineDetailsIntervalBorderColor); }

.timelineTableActivityBarCell {
  border-right: 1px solid #2b2b2b;
  border-right: 1px solid var(--timelineDetailsIntervalBorderColor);
  padding: 0 !important;
  vertical-align: middle; }

.timelineTableActivityBarCellActivityLayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2; }

.timelineTableIntervalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1; }

.timelineTableInterval {
  border-right: 1px solid #2b2b2b;
  border-right: 1px solid var(--timelineDetailsIntervalBorderColor);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .timelineTableInterval:last-of-type {
    border-right: 0 solid #2b2b2b;
    border-right: 0 solid var(--timelineDetailsIntervalBorderColor); }
  .timelineTableInterval:first-of-type {
    border-left: 1px solid #2b2b2b;
    border-left: 1px solid var(--timelineDetailsIntervalBorderColor); }



// WEBPACK FOOTER //
// src/client/common/components/timeline/TimelineTable.scss