.serviceTableIndexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden; }

.serviceTableIndexText {
  margin-left: 0.15rem; }

.serviceTableUrlContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.serviceTableLinkButton {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-left: 0.5rem; }

.serviceTableLinkIcon {
  height: 0.75rem;
  width: 0.75rem;
  fill: #3399ff;
  fill: var(--linkColor); }

.serviceTableLinkButton:active .serviceTableLinkIconPath:hover {
  opacity: 0.85; }

.serviceTableLinkButton:active .serviceTableLinkIconPath:active {
  fill: #007acc;
  fill: var(--linkActiveColor); }

.serviceTableUrlHeader {
  /* Match the width and margin-right of UrlText lock icon. */
  margin-left: calc(1rem + 2px); }

.serviceTableMethodColumn {
  overflow: hidden; }

.serviceTableActivity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 0.5rem;
  position: relative; }

.serviceTableRequestActivity {
  background: #692EA3;
  background: var(--serviceRequestColor); }

.serviceTableResponseActivity {
  background: #AF81DD;
  background: var(--serviceResponseColor); }

.serviceTableActivityMetadataContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 0.5rem;
  position: absolute;
  right: 0; }

.serviceTableActivityMetadata {
  color: #999999;
  color: var(--secondaryForegroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.75rem 0 0.75rem; }

.serviceTableNoResponse {
  color: #999999;
  color: var(--secondaryForegroundColor);
  margin-left: 0.5rem;
  white-space: nowrap; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/service/views/ServiceTable.scss
*/