.details {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  .details .detailTabTitles,
  .details .detailTabContent {
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
  .details .detailTabContent {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 1rem; }
    .details .detailTabContent:hover {
      overflow-x: auto;
      overflow-x: overlay;
      overflow-y: auto;
      overflow-y: overlay; }



// WEBPACK FOOTER //
// src/client/routes/requests/details/service/views/ServiceDetails.scss