.statusCodeIcon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0; }

/*
 * Colors
 */
.statusCodeClientErrorColor {
  fill: #b03b00;
  fill: var(--statusCodeErrorColor); }

.statusCodeInformationalColor {
  fill: #1ba1e2;
  fill: var(--statusCodeInformationalColor); }

.statusCodeOtherColor {
  fill: #b5b5b5;
  fill: var(--statusCodeOtherColor); }

.statusCodeRedirectionColor {
  fill: #f8a800;
  fill: var(--statusCodeRedirectionColor); }

.statusCodeServerErrorColor {
  fill: #b03b00;
  fill: var(--statusCodeErrorColor); }

.statusCodeSuccessColor {
  fill: #78b24c;
  fill: var(--statusCodeSuccessColor); }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/service/views/ServiceCommon.scss
*/