.panel {
  border-bottom: 1px solid #46464A;
  border-bottom: 1px solid var(--ruleColor);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding: 0.75rem 0;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem; }

.group {
  border-left: 1px solid #46464A;
  border-left: 1px solid var(--ruleColor);
  display: inline-block;
  padding: .15rem 1.15rem;
  vertical-align: top;
  max-width: 25%; }
  .group:first-of-type {
    padding-left: 0;
    border-left: 0 solid #46464A;
    border-left: 0 solid var(--ruleColor); }
  .group.isPullRight {
    float: right; }
  .group.isUrlGroup {
    max-width: 45%; }
  .group.isNoRightPadding {
    padding-right: 0; }

.method {
  letter-spacing: .05rem; }



// WEBPACK FOOTER //
// src/client/routes/requests/details/views/RequestsOverviewTopPanel.scss