.expandIcon {
  height: 1rem;
  width: 1rem;
  vertical-align: bottom;
  margin-right: 0.5rem; }

.title {
  composes: detailTitle from 'common/components/Common.scss';
  margin-top: 0;
  border-right: 1px solid #46464a;
  border-right: 1px solid var(--borderColor);
  padding-right: 1rem;
  margin-right: 1rem; }

.titleHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.titleUrlHolder {
  padding-top: 0.5rem; }



// WEBPACK FOOTER //
// src/client/routes/requests/details/components/request-response-tab-strip/views/RequestResponseTabStripModal.scss