.root {
  margin-top: 30px;
  margin-bottom: 10px; }

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid;
  line-height: 0;
  display: inline-block;
  -webkit-animation: ratingButtonFadeIn 0.55s cubic-bezier(0, 0.855, 0.41, 0.995) both;
          animation: ratingButtonFadeIn 0.55s cubic-bezier(0, 0.855, 0.41, 0.995) both;
  -webkit-transition: background .15s ease-out;
  transition: background .15s ease-out; }
  .button:focus {
    outline: 0; }
  .button + .button {
    margin-left: 10px; }
  .button:hover {
    background: currentColor; }

.buttonText {
  color: white; }

@-webkit-keyframes ratingButtonFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes ratingButtonFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }


/*
// WEBPACK FOOTER //
// src/client/shell/rating-dialog/views/rating-buttons/RatingButtons.scss
*/