.icon {
  width: 1rem;
  margin-right: 0.25rem; }

.isIconCookieTrue {
  fill: #71b252;
  fill: var(--trueCheckMark); }

.isIconCookieFalse {
  fill: #b03b00;
  fill: var(--falseBigX); }

.contentMessage {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }



// WEBPACK FOOTER //
// src/client/routes/requests/details/components/request-response-tab-strip/cookies/CookiesView.scss