.codeView > pre > code {
  background-color: transparent;
  overflow-x: initial;
  color: #f7f7f7;
  color: var(--primaryForegroundColor); }

:global(.hljs-line-numbers) {
  text-align: right;
  border-right: 1px solid #46464a;
  color: #999;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

:global(.hljs) {
  display: block;
  overflow-x: auto;
  padding: 0 0.5em; }

:global(.hljs-comment),
:global(.hljs-quote) {
  color: #777; }

:global(.hljs-variable),
:global(.hljs-template-variable),
:global(.hljs-regexp),
:global(.hljs-meta),
:global(.hljs-built_in),
:global(.hljs-builtin-name),
:global(.hljs-params),
:global(.hljs-symbol),
:global(.hljs-bullet),
:global(.hljs-link),
:global(.hljs-deletion),
:global(.hljs-string) {
  color: #cd917a; }

:global(.hljs-literal),
:global(.hljs-number) {
  color: #b6cda9; }

:global(.hljs-attr) {
  color: #cf9ce0; }

:global(.hljs-section),
:global(.hljs-title),
:global(.hljs-name),
:global(.hljs-selector-id),
:global(.hljs-selector-class),
:global(.hljs-type),
:global(.hljs-attribute) {
  color: #e496a7; }

:global(.hljs-keyword),
:global(.hljs-selector-tag),
:global(.hljs-addition) {
  color: #8f9c6c; }



// WEBPACK FOOTER //
// src/client/routes/requests/components/CodeView.scss