.expandableText {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%; }

.expandableTextHidden {
  padding-bottom: 0.15rem;
  padding-top: 0.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/components/ExpandableText.scss
*/