.expandCollapseButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.expandCollapseButton:focus {
  outline: none; }

.expandCollapseButtonIcon {
  color: #f7f7f7;
  color: var(--primaryForegroundColor);
  height: 1.5rem;
  width: 1.5rem;
  /* Safari and Firefox ignore width for empty <div>'s. */
  min-height: 1.5rem;
  min-width: 1.5rem; }



// WEBPACK FOOTER //
// src/client/routes/requests/components/ExpandCollapseButton.scss