.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fadeIn .35s ease-out;
          animation: fadeIn .35s ease-out; }

.image {
  width: 14rem;
  height: 12rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  background-image: url("assets/images/requests/not-found.svg"); }

.container.isEmpty .image {
  background-size: auto 100%;
  background-image: url("assets/images/requests/empty.svg"); }

.container.isSelect .image {
  background-size: auto 100%;
  background-image: url("assets/images/requests/select.svg"); }

.text {
  margin-top: 1.5rem;
  color: #999999;
  color: var(--softTextColor);
  text-align: center; }

.text::-moz-selection {
  background: #f7f7f7;
  background: var(--primaryForegroundColor);
  color: #1b1b1c;
  color: var(--primaryBackgroundColor); }

.text::selection {
  background: #f7f7f7;
  background: var(--primaryForegroundColor);
  color: #1b1b1c;
  color: var(--primaryBackgroundColor); }

.imagesLoader {
  position: absolute;
  width: 0;
  height: 0;
  background-image: url("assets/images/requests/not-found.svg"), url("assets/images/requests/empty.svg"), url("assets/images/requests/select.svg");
  opacity: 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.loader {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }



// WEBPACK FOOTER //
// src/client/routes/requests/components/RequestsStatusBlock.scss