.requestResource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.requestResourceTableContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2rem; }

.requestResourceTableContainer:first-child {
  padding-left: 0; }

.requestResourceTableContainer:last-child {
  padding-right: 0; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/request/views/RequestResource.scss
*/