.comments {
  color: #999999;
  color: var(--softTextColor);
  margin: .5rem;
  margin-bottom: 1rem;
  letter-spacing: .25px;
  opacity: .65;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out; }
  .comments:hover {
    opacity: 1; }


/*
// WEBPACK FOOTER //
// src/client/routes/requests/details/data/RedisCommandDocs.scss
*/